*.suo
*.csproj.user
*.xproj.user
*.pubxml.user
*.user
*.vspscc
*.lock.json

TestResults
packages
node_modules
bin
obj
dist
artifacts

.vs
.idea
*.nuget.props
*.nuget.targets
.db_last_updated
.sass-cache
*.tss
*.js.map

2017.userprefs

.vscode/launch.json

GeotabAccountCreds.json

